<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="active" id="article-manage"><a >文章管理</a></li>
        <li id="type-manage"><a >类别管理</a></li>
        <li id="drafts"><a >草稿箱</a></li>
        <li id="addArticle">
            <a><span class="glyphicon glyphicon-plus"></span>新建文章</a>
        </li>
    </ul>
    <div>

    </div>

    <div id="blog-content"></div>
    <script src="/js/blog/blogIndex.js"></script>
</body>
</html>