<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="margin-top: 20px;padding-bottom: 10px;padding-left: 5px;">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>类别</th>
                    <th>文章</th>
                    <th>操作</th>
                    <th>排序</th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="margin-top: 10px">
        <form class="form-inline" role="form">
            <input class="form-control" placeholder="请输入新建的分类" style="width: 20%"/>
            <button class="btn btn-primary" id="addType">添加分类</button>
        </form>
    </div>
</body>
</html>