<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="" style="vertical-align: middle;">
        <h2 style="margin-top: 15px;margin-bottom: 15px">公众号设置</h2>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a id="wx-account">账号详情</a></li>
        <li><a id="wx-function">功能设置</a></li>
    </ul>
    <div id="setting-content"></div>
    <script src="/js/wx-account-setting/weiXinSetting.js"></script>
</body>
</html>